@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700|Noto+Serif&display=swap");

body {
  font-family: "Fira Sans";
}

.mainbox {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 1000px;
}

.post {
  width: 480px;
  height: 480px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post .post__pic {
  margin: 25px auto;
}

.post .post__content {
  color: #b8bbc1;
  font-size: 18px;
}

.post .post__rating {
  color: #b8bbc1;
  font-size: 16px;
}

.post .post__column-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.post .post__column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.post__background {
  width: 480px;
  height: 220px;
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.post__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.post__userpic {
  width: 120px;
  bottom: -60px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 2;
  border: 3px solid white;
  border-radius: 50%;
}

.post__userpic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post__icon-normal {
  background-color: #6a75ff;
  color: #eaecff;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 25px;
}

.post__icon-reverse {
  color: #6a75ff;
  background-color: #eaecff;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 25px;
}

.post__icon-content {
  font-weight: 600;
  font-size: 20px;
}
