@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #f9fafc;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #010d3c;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #3e68ff;
}

.phone {
  margin-top: 50px;
  width: 350px;
  height: 700px;
  overflow: hidden;
  border: 10px solid #2596F8;
}

.screen{
  width: 100%;
  height: 100%;
  overflow: hidden;   
  align-items: center;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  background-image:
  linear-gradient(to bottom, rgba(241, 235, 241, 0.52),white), 
url("https://avatars1.githubusercontent.com/u/3612017?s=460&v=4") ;
background-size: contain;

}




.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
  margin: 20px;
}

.header {
  padding-top: 15px;
  width: 100%;
  margin-bottom:50px;
}

.header .header__top {
  display: flex;
  justify-content: space-between;
  color: rgb(63, 63, 63);
  font-size: 15px;
  padding: 0px 20px;
}





.user {
  margin-top : 15%;
  width: 100%;
  overflow: hidden;
  height: 50%;
  
}

.user .user__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:30px;
}

.user__header .user__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px;
}

.user__header .user__name {
  font-size: 20px;
  margin-bottom: 5px;
  color: #51A2E3;
}

.user__header .user__position {
  font-size: 14px;
  opacity: 0.6;
  font-weight: 400;
}


.user .user__buttons {
  padding: 0px 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.user__buttons .user__button {
  text-decoration: none;
  color: #A7A7A7;
  background-color: white;
  width: 48%;
  text-align: center;
  padding: 12px 0px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 2px 2px 2px 2px rgba(118, 146, 180, 0.5);

}

.user__buttons .user__button:last-child {
  background-color: #2799FA;
  color: white;
}





.content-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 50px;
}

.content-info .content-box{
  display: flex;
  flex-direction: column;
  align-items: center;    
  color: #A7A7A7;
  width: 30%;
  font-size: 13px;
  font-weight: 500;
}



.tab-bar {
  width: 100%;
  height: 15%;
}

.tab-bar .tab-bar__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 16px;
  margin: 0px;
}

.tab-bar__list .tab-bar__tab {
  color: #9aa9c2;
  padding-top: 20px;
  width: 25%;
  height: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.tab-bar__list .tab-bar__tab:nth-child(1) {
  color: #3e68ff;
}

.tab-bar__list .tab-bar__tab:nth-child(2),
.tab-bar__list .tab-bar__tab:nth-child(3) {
  border-bottom: 3px solid #b6bbce;
}





}
